body {
    font-size: 15px;
    margin:0px;
    box-sizing: border-box;
}
/* inizio header */
.pattern {
    height: 170px;
    width:100%;
    background-image:url("../img/pattern.png");
    background-repeat: repeat;
    background-color: rgb(5, 168, 223);
}    

.titolo {
    font-size: 40px;
    margin-bottom: 0px;
}

.logo {
    height: 85%;
}

.info {
    color: grey;
}

.link {
    color: rgb(47, 47, 207);
}
.data {
    font-size: 10px;
}
/* fine header */

/* inizio articolo intro */
.articolo-intro-outro {
margin-top: 12px;
margin-bottom: 12px;
}
.importante {
    background-color: rgba(240, 240, 9, 0.5);
}
/* fine articolo intro */

/* inizio tabella */
.tabella {
    text-align: left;
    width: 100%;
}

.tabella-head {
    background-color: blue;
    color: white;
}

.td-lightblue{
    background-color: turquoise;
}
/* fine tabella  */